@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    color: #C2CAE8;
    font-family: 'Dosis', sans-serif;
}

html {
    background: rgb(38,70,83);
    background: linear-gradient(125deg, rgba(38,70,83,1) 0%, rgba(77,87,108,1) 100%); 
}