main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

    h1 {
        text-align: center;

        &:nth-of-type(1) {
            margin-top: 10%;
        }

        &:nth-of-type(2) {
            margin-bottom: 10%;
        }
    }

    img {
        filter: blur(0.75px) drop-shadow(0 0 1rem rgba(121, 121, 121, 0.8));
        margin: 0 auto;
        width: 15rem;
        animation: glow 10s linear infinite;
        transform: rotate(0);
        transition: transform 0.5s ease;

        &:hover {
            cursor: pointer;
            transform: rotate(-0.015turn);
        }
    }

    @keyframes glow {
        0%   { filter: blur(0.75px) drop-shadow(0 0 1rem rgba(121, 121, 121, 0.8));    }
        33%  { filter: blur(0.75px) drop-shadow(0 0 1.15rem rgba(117, 165, 129, 0.8)); }
        66%  { filter: blur(0.75px) drop-shadow(0 0 1.15rem rgba(79, 104, 172, 0.8));  }
        100% { filter: blur(0.75px) drop-shadow(0 0 1rem rgba(121, 121, 121, 0.8));    }
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    main h1:nth-of-type(1) {
        margin-top: 30%;
    }

    main h1:nth-of-type(2) {
        margin-bottom: 30%;
    }
}